<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>EmailverificationusingHelperpropertiesfile.SendMailtoOutsider()[pri:0, instance:com.testsuite.email.EmailverificationusingHelperpropertiesfile@25359ed8]<br/></td></tr>
</table>
