<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Gmail Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="71c76a">  <td>16/10/07 10:44:24</td>   <td>0</td> <td title="&gt;&gt;BaseSetup.beforeSuite()[pri:0, instance:com.testsuite.email.EmailverificationusingHelperpropertiesfile@25359ed8]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@351028485</td>   <td></td> </tr>
<tr bgcolor="71c76a">  <td>16/10/07 10:44:24</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseSetup.initializeBaseSetup(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.testsuite.email.EmailverificationusingHelperpropertiesfile@25359ed8]">&gt;&gt;initializeBaseSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@532554345</td>   <td></td> </tr>
<tr bgcolor="a18f7b">  <td>16/10/07 10:44:29</td>   <td>4608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EmailverificationusingHelperpropertiesfile.BaseClassSetUp()[pri:0, instance:com.testsuite.email.EmailverificationusingHelperpropertiesfile@25359ed8]">&gt;&gt;BaseClassSetUp</td> 
<td>&nbsp;</td>  <td>TestNG@532554345</td>   <td></td> </tr>
<tr bgcolor="a18f7b">  <td>16/10/07 10:44:31</td>   <td>6691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmailverificationusingHelperpropertiesfile.SendMailtoOutsider()[pri:0, instance:com.testsuite.email.EmailverificationusingHelperpropertiesfile@25359ed8]">SendMailtoOutsider</td> 
  <td>TestNG@532554345</td>   <td></td> </tr>
<tr bgcolor="a18f7b">  <td>16/10/07 10:45:19</td>   <td>54806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;EmailverificationusingHelperpropertiesfile.testGmailLogout()[pri:0, instance:com.testsuite.email.EmailverificationusingHelperpropertiesfile@25359ed8]">&lt;&lt;testGmailLogout</td> 
<td>&nbsp;</td>  <td>TestNG@532554345</td>   <td></td> </tr>
<tr bgcolor="71c76a">  <td>16/10/07 10:45:28</td>   <td>63769</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseSetup.CloseBrowser()[pri:0, instance:com.testsuite.email.EmailverificationusingHelperpropertiesfile@25359ed8]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@532554345</td>   <td></td> </tr>
<tr bgcolor="71c76a">  <td>16/10/07 10:45:28</td>   <td>64350</td> <td title="&lt;&lt;BaseSetup.AddLogFileToReport()[pri:0, instance:com.testsuite.email.EmailverificationusingHelperpropertiesfile@25359ed8]">&lt;&lt;AddLogFileToReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@351028485</td>   <td></td> </tr>
</table>
