*                        {padding: 0; margin: 0;}
body                     {font-family: Segoe UI, Lucida Grande, sans-serif;  margin: 18px 10px; background: #F1F7F9; font-size: 13px; vertical-align: middle; font-weight: normal;}
h1                       {font-family: Segoe UI, Helvetica, sans-serif;  margin-bottom: 8px; text-transform: uppercase; color: #0b6690; font-weight: normal;}
h2                       {font-family: Segoe UI, Helvetica, sans-serif;  font-size: 1.8em; margin-bottom: 0; color: #0b6690; font-weight: normal;}
p                        {font-size: 13px;}
th			 {color:white; background-color:#0b6690;vertical-align:middle;}
td.a			{color:#e98828;}
td.a:visited	{color:#0b6690;}
.header                  {font-size: 20px;  text-align: left; font-weight: normal; color:white; background-color:#0b6690; text-transform: uppercase;}
.passed                  {background-color: #44aa44;}
.skipped                 {background-color: #ffaa00;}
.failed                  {background-color: #ff4444;}
.executed                 {background-color: #EBF0F5;}
.total                 {background-color:  	#F5F5F5;}
.failedConfig            {background-color: #800000; color: #ffffff; }
.skippedConfig           {background-color: #cc6600; color: #ffffff; }
.totalLabel              {font-weight: normal; background-color: #ffffff; text-align: left;}

.suite                   { font-weight: normal;}
.tests                    {background-color: #eeeeee; padding-left: 2em; font-size:14px;}
.test .passed            {background-color: #88ee88; text-transform: uppercase;}
.test .skipped           {background-color: #ffff77; text-transform: uppercase;}
.test .failed            {background-color: #ff8888; text-transform: uppercase;}
.test                   {background-color: #cccccc; color: #000000; text-transform: uppercase;}
.suiteLinks              {float: right; font-weight: normal; vertical-align: middle;}
.suiteLinks a            {color: #ffffff; margin-left: .5em;}
.passRate                {font-weight: bold; text-align: center;}
.duration                {text-align: right;}
.thread                  {white-space: nowrap;}

.resultsTable            {border: 0; width: 100%; margin-top: 1.8em; line-height: 1.7em; border-spacing: 0.1em;}
.resultsTable .method    {width: 18em;}
.resultsTable .duration  {width: 6em;}
.resultsTable td         {vertical-align: top; padding: 0 5px;}
.resultsTable th         {padding: 0 5px; color:white; }
.number                  {text-align: center;  font-size:16px;}
.zero                    {font-weight: normal;}
.columnHeadings          {font-size: 1em;}
.columnHeadings th       {font-weight: normal; color:white; background-color:#0b6690;}

.configTable             {border: 1px solid #800000; color: #800000; margin-bottom: 1.5em;}

#sidebarHeader           {padding: 1.8em 1em; margin: 0 -1em 1.8em -1em;}
#suites                  {line-height: 1.7em; border-spacing: 0.1em; width: 100%;}
.tests                   {display: table-row-group;}
.header.suite            {cursor: pointer; clear: right; height: 1.214em; margin-top: 1px; vertical-align: middle;}
div.test                 {margin-top: 0.1em; clear: right; font-size: 1.3em;}

/* The +/- toggle used in the navigation frame. */
.toggle                  {font-family: monospace; font-weight: bold; padding-left: 2px; padding-right: 5px; color: white;}
.successIndicator        {float: right; font-family: monospace; font-weight: bold; padding-right: 2px; color: #44aa44;}
.skipIndicator           {float: right; font-family: monospace; font-weight: bold; padding-right: 2px; color: #ffaa00;}
.failureIndicator        {float: right; font-family: monospace; font-weight: bold; padding-right: 2px; color: #ff4444;}


/* These classes are for information about an individual test result. */
.result                  {font-size: 1.1em; vertical-align: middle;}
.dependency              {font-family: Lucida Console, Monaco, Courier New, monospace; font-weight: bold;}
.arguments               {font-family: Lucida Console, Monaco, Courier New, monospace; font-weight: bold;}
.testOutput              {font-family: Lucida Console, Monaco, Courier New, monospace; color: #666666;}
.stackTrace              {font-size: 0.9em; line-height: 1.2em; margin-left: 2em; display: none;}
.stackTrace .stackTrace  {font-size: inherit;}

.description             {border-bottom: 1px dotted #006699;}

#meta                    {font-size: 1em; text-align: right; float: right;}
#systemInfo              {color: #666666; top:4px; position:relative;}
#image 			{top:6px; display: inline-block; position:relative;}

/* Reporter log output (individual test ouput is style by "testOutput" above). */
#log                     {font-family: Lucida Console, Monaco, Courier New, monospace; font-size: 1.3em; margin-top: 1.8em;}

.overviewTable           {width: 100%; margin-top: 1.8em; line-height: 1.7em; border-spacing: 0.1em;}
.overviewTable td        {padding: 0 1em;}
.overviewTable th        {padding: 0 .5em; font-family:  Segoe UI Light, Segoe UI, Lucida Grande, sans-serif; color:white; background-color:#0b6690; }
.overviewTable .duration {width: 6em;}
.overviewTable .passRate {width: 6em;}
.overviewTable .number   {width: 5em;}
.overviewTable tr        {height: 1.6em;}

.button{background: #0b6690; padding: 8px; position: relative; margin: auto; display: block; color: white; text-decoration: none; text-align: center; width: auto;}
.button:hover{background: #e98828; padding: 8px; position: relative; margin: auto; display: block; color: white; text-decoration: none; text-align: center; width: auto;}
.buttonnopad{background: #0b6690; position: relative; margin: auto; display: block; color: white; text-align: center; width: auto;}
.buttonnopad:hover{background: #e98828;  position: relative; margin: auto; display: block; color: white; text-decoration: none; text-align: center; width: auto;}
.cbutton{font-family: Segoe UI, Helvetica, sans-serif; font-size:13px; background: #0b6690; padding: 8px; position: relative; display: block; color: white; text-decoration: none; text-align: center; width: 160px;}
.cbutton:hover{font-family: Segoe UI, Helvetica, sans-serif; font-size:13px; background: #e98828; padding: 8px; position: relative; display: block; color: white; text-decoration: none; text-align: center; width: 160px;}
#video{ width:32px;height:32px;position:relative; float:left; vertical-align:middle;bottom:1px;background: url("https://lh6.googleusercontent.com/-7D9Cd34jsFo/Uic_T9Xq1AI/AAAAAAAAEN8/aoTVoMJ_qFs/s32-no/play.png") no-repeat; display: inline-block; top:-3px;}
