<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>EmailFunctionalities.Tc001_testSendingEmailWithSubjectAndBody()[pri:0, instance:com.testsuite.email.EmailFunctionalities@6a79c292]<br/>EmailFunctionalities.Tc002_testSaveEmailWithSubjectAndBody()[pri:0, instance:com.testsuite.email.EmailFunctionalities@6a79c292]<br/>EmailFunctionalities.Tc003_testCheckEmailInInbox()[pri:0, instance:com.testsuite.email.EmailFunctionalities@6a79c292]<br/></td></tr>
</table>
