<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9797b2">  <td>16/10/03 15:27:35</td>   <td>0</td> <td title="&lt;&lt;BaseSetup.AddLogFileToReport()[pri:0, instance:com.testsuite.email.EmailFunctionalities@6a79c292]">&lt;&lt;AddLogFileToReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1077199500</td>   <td></td> </tr>
<tr bgcolor="9797b2">  <td>16/10/03 15:27:35</td>   <td>-354</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseSetup.CloseBrowser()[pri:0, instance:com.testsuite.email.EmailFunctionalities@6a79c292]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1077199500</td>   <td></td> </tr>
<tr bgcolor="a593bf">  <td>16/10/03 15:27:21</td>   <td>-14310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmailFunctionalities.Tc001_testSendingEmailWithSubjectAndBody()[pri:0, instance:com.testsuite.email.EmailFunctionalities@6a79c292]">Tc001_testSendingEmailWithSubjectAndBody</td> 
  <td>main@1077199500</td>   <td></td> </tr>
<tr bgcolor="a593bf">  <td>16/10/03 15:27:25</td>   <td>-9412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmailFunctionalities.Tc002_testSaveEmailWithSubjectAndBody()[pri:0, instance:com.testsuite.email.EmailFunctionalities@6a79c292]">Tc002_testSaveEmailWithSubjectAndBody</td> 
  <td>main@1077199500</td>   <td></td> </tr>
<tr bgcolor="a593bf">  <td>16/10/03 15:27:30</td>   <td>-4900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmailFunctionalities.Tc003_testCheckEmailInInbox()[pri:0, instance:com.testsuite.email.EmailFunctionalities@6a79c292]">Tc003_testCheckEmailInInbox</td> 
  <td>main@1077199500</td>   <td></td> </tr>
<tr bgcolor="9797b2">  <td>16/10/03 15:27:20</td>   <td>-14877</td> <td title="&gt;&gt;BaseSetup.beforeSuite()[pri:0, instance:com.testsuite.email.EmailFunctionalities@6a79c292]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1077199500</td>   <td></td> </tr>
<tr bgcolor="9797b2">  <td>16/10/03 15:27:20</td>   <td>-14850</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseSetup.initializeBaseSetup(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.testsuite.email.EmailFunctionalities@6a79c292]">&gt;&gt;initializeBaseSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1077199500</td>   <td></td> </tr>
</table>
