<h2>Reporter output</h2><table><tr><td><a href="..\Screenshots\null"> <img src="..\Screenshots\null" height=48 width=48 ></a></td></tr>
<tr><td><a href="..\Screenshots\null"> <img src="..\Screenshots\null" height=48 width=48 ></a></td></tr>
<tr><td><a href="..\Screenshots\null"> <img src="..\Screenshots\null" height=48 width=48 ></a></td></tr>
<tr><td><br></td></tr>
<tr><td><a class="cbutton" href="..\Log.log">Click to Open Log File</a></td></tr>
</table>